APP_NAME="Delivery Service"
APP_ENV=local
APP_DEBUG=true
APP_URL=http://localhost:8000

DB_CONNECTION=pgsql
DB_HOST=postgres
DB_PORT=5432
DB_DATABASE=delivery_service
DB_USERNAME=delivery_user
DB_PASSWORD=delivery_password
